/*
<code to be commented out>
<Other code to be commented out>
*/

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

.navbar
{
    position:fixed;
    width: 100%;
    top: 0;
    background: grey;
    color: #293C94;
    margin-top: 50px;
    padding-top: 50px;
    height: 100px;
}

.push
{
    margin-bottom: 75px
}



.hero-container
{
    background: url(Assets/herowheel.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 690px;
    padding-bottom: 0px;
    margin-bottom: -100px;
    position: relative;
}
.main-logo-container
{
    max-width: 400px;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}
.packages-container-container-big
{
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(Assets/background.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
    background-color: #dddddd; 
}


.packages-container-container-small
{
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(Assets/background.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
    background-color: #dddddd; 
}

.single-package
{
    padding-bottom: 40px;
    padding-top: 40px; 
}
.packages-container-big
{
    width: 700px;
    margin: auto;
}

.packages-container-small
{
    width: 400px;
    margin: auto;
}

#map {
    height: 400px;
    width: 100%;
}
.buy-now-container{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.buy-now-container h1{
    text-align: center;
}
.single-buy{
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer{
    background-color: #293C94;
}
.premium-container{
    width: 80%;
    margin: auto;
}
h1
{
    color: #293C94;
}

h3
{
    color: #293C94;
}

#location{
    background-color: #dddddd;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    
}

#premiumS
{
    text-align: center;
    background-color: #75c1c5;
    margin: auto;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #75c1c5;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#premiumS h1
{
    margin-bottom: 0px;
    font-size: 2.25em;
    font-weight: 400;
    font-color: #293C94;
}


#location
{
    text-align: center;
    background-color: #d9d9d9;
    margin: auto;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #d9d9d9;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

#location h1
{
    margin-bottom: 20px;
    font-size: 2.25em;
    font-weight: 400;
    font-color: #293C94;
}

#location h2
{
    margin-bottom: 20px;
    font-size: 1.25em;
    font-weight: 400;
    font-color: #293C94;
}
 
 /*mobile*/
 @media(max-width: 700px)
 {
     .packages-container-container-big
     {
	 display: none;
     }
     
     
 }

  @media(min-width: 700px)
 {
     .packages-container-container-small
     {
	 display: none;
     }
 
 }
 
