/*
<code to be commented out>
<Other code to be commented out>
*/

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
.center-nav{
    text-align: center;
}
.side-nav{
    padding-top: 10px;
}
.sticky-header-hide
{
    display: none;
}
.bb-hamburger{
    font-size: 32px !important;
}
.mobile-side-menus{
    padding-top: 5px;
}
.bb-navbar
{
    background-color: #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.bb-navbar-mobile
{
    background-color: #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 75px;

}

.bb-footbar-mobile
{
    background-color: #75c1c5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.wheel-container{
    width: 100px;
    margin: auto;
    padding-top: 58px;
}

.wheel-container-mobile{
    width: 50px;
    margin: auto;
    padding-top: 175px;
}

.dropdown-container{
    color: white;
    background-color: #75c1c5;
}
.hero-container-big
{
    background: url(Assets/background-car.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    padding-bottom: 0px;
    margin-bottom: -100px;
    position: relative;
}

.hero-container-mobile
{
    background: url(Assets/background-car.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
    padding-bottom: 0px;
    margin-bottom: -100px;
    position: relative;
}

.main-logo-container
{
    max-width: 400px;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}
.packages-container-container-big
{
    padding-top: 180px;
    padding-bottom: 80px;
    background: url(Assets/background.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
    background-color: #dddddd; 
}


.packages-container-container-small
{
    padding-top: 100px;
    padding-bottom: 80px;
    background: url(Assets/background.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
    background-color: #dddddd; 
}

.single-package
{
    padding-bottom: 40px;
    padding-top: 40px; 
}
.packages-container-big
{
    width: 700px;
    margin: auto;
}

.packages-container-small
{
    width: 400px;
    margin: auto;
}

#map 
{
    height: 400px;
    width: 100%;
}
.buy-now-container
{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 100px;
}
.buy-now-container h1
{
    text-align: center;
}
.single-buy
{
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer
{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #293C94;
    color: white;
}

.premium-container
{
    width: 80%;
    margin: auto;
}
h1
{
    color: #293C94;
}

h3
{
    color: #293C94;
}

#location
{
    background-color: #dddddd;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    
}

#premiumS
{
    text-align: center;
    background-color: #75c1c5;
    margin: auto;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #75c1c5;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#premiumS h1
{
    margin-bottom: 0px;
    font-size: 2.25em;
    font-weight: 400;
    font-color: #293C94;
}


#location
{
    text-align: center;
    background-color: #d9d9d9;
    margin: auto;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #d9d9d9;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

#location h1
{
    margin-bottom: 20px;
    font-size: 2.25em;
    font-weight: 400;
    font-color: #293C94;
}

#location h2
{
    margin-bottom: 20px;
    font-size: 1.25em;
    font-weight: 400;
    font-color: #293C94;
}
 .sticky-header-hide
{
    display: none;
}
.single-section{
    display: inline;
    padding-right: 60px;
}
.sections-container p
{
/*    padding-left: 35px;
    padding-right: 35px;*/
    display: inline;
}
.sections-container
{
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: #293C94;
    color: white;
    float: right;
}
.copyrite-container{
    background-color: #293C94;
    color: white;
}
.hero-section-container{
background-color: transparent;
color:white;
display: inline;
position: relative;
top: 70px;
}
.mobile-hours-location-container p{
display: inline;
 color: white;

}
.mobile-hours-location-container{
    position: relative;
    top: 86px;
    width: 200px;
    float: right;
    text-align: center;
    background-color: rgba(255,255,255,.42);
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
}
/*mobile*/
@media(max-width: 700px)
 {
    .packages-container-container-big
     {
        display: none;
     }

     .bb-navbar
     {
        display: none;
     }

     .footer
     {
        display: none;
     }

     .hero-container-big
     {
        display: none;
     }
     
 }

@media(min-width: 700px)
{
    .hero-container-mobile

     {
        display: none;
     }

     .packages-container-container-small
     {
	 display: none;
     }

     .bb-navbar-mobile
     {
        display: none;
     }

     .bb-footbar-mobile
     {
        display: none;
     }
 }
 
